@import "@codedrops/react-ui/dist/styles/colors.scss";

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section#home {
  position: relative;

  .add-icon {
    position: fixed;
    bottom: 8px;
    right: 8px;
  }
  .list-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .entity-item {
      border-radius: 2px;
      border: 1px solid $strokeOne;
      padding: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .entity-section-wrapper {
        display: flex;
        flex-direction: column;
        flex: 0 0 40%;
        margin-right: 8px;
        overflow: hidden;
      }
      .entity-label {
        font-size: 1em;
        font-weight: bold;
        @extend .text-overflow;
      }
      .entity-path {
        font-size: 0.8em;
        @extend .text-overflow;
      }
      .entity-value {
        font-size: 1.1em;
        font-weight: bold;
        @extend .text-overflow;
      }
      .divider {
        margin: 4px 0;
      }
    }
  }
}
.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  .tooltip-item {
    line-height: 0.8em;
    span {
      font-size: 0.7em;
    }
  }
}
